# .clang-format

BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
UseTab: Never

# Indentation and layout
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
ColumnLimit: 140
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseBlocks: true
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

# Alignment
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: false
AlignTrailingComments: false

# Short forms
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

# Breaking
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  BeforeElse: true
  BeforeLambdaBody: true
  SplitEmptyFunction: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma

# Namespaces and includes
FixNamespaceComments: true
IncludeBlocks: Preserve
SortIncludes: true
SortUsingDeclarations: true

# Spacing
PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Left
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false

# Misc
Cpp11BracedListStyle: false
IndentPPDirectives: None
PenaltyReturnTypeOnItsOwnLine: 1000
ReflowComments: true

Checks: >
  -readability-implicit-bool-conversion

CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: 'false'
  - key: readability-implicit-bool-conversion.UseNullptr
    value: 'true'